.btn, #sb_instagram #sbi_load .sbi_load_btn, #sb_instagram .sbi_follow_btn a{
  border-radius: 0;
  letter-spacing: .08rem;
  padding: .5rem 1rem;
  margin: 0 .25rem 1rem;
  @media (min-width: 768px) {
		padding: .5rem 1.5rem;
  }
}