@import "colors";

.ninja-forms-req-symbol{
	display: none;
}
.nf-field-label{
	margin: 0 !important;
	label{
		font-size: .875rem;
		margin-bottom: .5rem !important;
	}
}
.field-wrap input, .field-wrap textarea{
	padding: .25rem;
	background: transparent;
	border-radius: 0;
	font-size: .875rem;

	&:focus{
		outline-width: thin;
		outline-color: $brandy-rose;
	}
}
.field-wrap input{
	border: none;
	border-bottom: 1px solid $brandy-rose;

}
.field-wrap textarea{
	border: 1px solid $brandy-rose;
}
.field-wrap input[type=button]{
	border: 1px solid $brandy-rose;
	padding: .5rem 1.5rem;
}