@import url('https://fonts.googleapis.com/css?family=Roboto:400,400i,700');

@font-face {
  font-family: 'VisbyCF';
  src: url('fonts/VisbyCF-Medium.woff2') format('woff2'),
       url('fonts/VisbyCF-Medium.woff') format('woff');
  font-weight: 500;
  font-style: normal;
}

@font-face {
  font-family: 'VisbyCF';
  src: url('fonts/VisbyCF-Bold.woff2') format('woff2'),
       url('fonts/VisbyCF-Bold.woff') format('woff');
  font-weight: 700;
  font-style: normal;
}

@font-face {
  font-family: 'VisbyCF';
  src: url('fonts/VisbyCF-Regular.woff2') format('woff2'),
       url('fonts/VisbyCF-Regular.woff') format('woff');
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: 'Town40Stencil-Thin';
  src: url('fonts/Town40Stencil-Thin.woff2') format('woff2'),
       url('fonts/Town40Stencil-Thin.woff') format('woff');
  font-weight: 300;
  font-style: normal;
}



$primary-header-font: 'Town40Stencil-Thin', sans-serif;
$secondary-header-font: 'VisbyCF', sans-serif;
$body-font: 'Roboto', sans-serif;