@mixin font-smoothing{
  font-smooth: always;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

@mixin typography(
    $font-family: $body-font,
    $letter-spacing: 0,
    $line-height: 1.25,
    $size: 1rem, 
    $style: normal, 
    $weight: 300
  ) {
  @include font-smoothing;

  font-family: $font-family;
  font-size: $size;
  font-style: $style;
  font-weight: $weight;
  letter-spacing: $letter-spacing;
  line-height: $line-height;
  margin: 0;
}


body.home .h1{
	@include typography(
    $font-family: $primary-header-font,
		$size: 2.5rem,
		$letter-spacing: .18rem
	);
	text-transform: uppercase;

	@media (min-width: 576px){
    font-size: 3rem;
  }
  @media (min-width: 768px) {
    font-size: 3.5rem;
  }
  @media (min-width: 992px) {
    font-size: 4rem;
  }
  @media (min-width: 1200px) {
    font-size: 4.125rem;
  }
}

.h1{
	@include typography(
		$font-family: $primary-header-font,
		$size: 2.5rem,
		$letter-spacing: .28rem
	);
	@media (min-width: 576px){
    font-size: 3rem;
  }
  @media (min-width: 768px) {
    font-size: 3.5rem;
  }
  @media (min-width: 992px) {
    font-size: 4rem;
  }
  @media (min-width: 1200px) {
    font-size: 4.5rem;
  }
}

.h2{
	@include typography(
    $font-family: $primary-header-font,
		$size: 2rem,
		$weight: 700,
		$letter-spacing: .28rem
	);
  text-transform: uppercase;

  @media (min-width: 576px){
    font-size: 2.25rem;
  }
  @media (min-width: 768px) {
    font-size: 2.5rem;
  }
  @media (min-width: 992px) {
    font-size: 2.75rem;
  }
  @media (min-width: 1200px) {
    font-size: 2.875rem;
  }
}

.h3{
	@include typography(
    $font-family: $secondary-header-font,
		$size: 1.5rem,
		$weight: 500,
		$letter-spacing: .22rem
	);
	text-transform: uppercase;

	@media (min-width: 576px){
    font-size: 1.625rem;
  }
  @media (min-width: 768px) {
    font-size: 1.75rem;
  }
  @media (min-width: 992px) {
    font-size: 1.875rem;
  }
  @media (min-width: 1200px) {
    font-size: 2rem;
  }
}

.h4{
	@include typography(
		$size: 1.5rem,
		$weight: 700,
		$letter-spacing: .025rem
	);
	text-transform: uppercase;
}
.h5, .label, label, .nf-error-msg{
	@include typography(
		$font-family: $secondary-header-font,
		$letter-spacing: .22rem,
		$size: .875rem,
		$weight: 500
	);
	text-transform: uppercase;
	&.bold{
		font-weight: 800;
	}

  @media (min-width: 768px) {
    font-size: 1rem;
  }
	
}

.p, p, input, textarea {
	@include typography(
		$weight: 400,
		$line-height: 1.5

	);
	&.bold{
		font-weight: 700;
		text-transform: uppercase;
	}
  padding: 0;
  margin: 0;
}

.blockquote .p{
	@include typography(
		$font-family: $secondary-header-font,
		$weight: 400,
		$size: 1rem,
		$line-height: 1.75,
		$letter-spacing: .1rem
	);
	text-transform: uppercase;

	@media (min-width: 576px){
    font-size: 1.25rem;
  }
  @media (min-width: 992px) {
    font-size: 1.5rem;
  }
}
.header-p{
	@include typography(
		$size: 1.125rem,
		$weight: 300,
		$letter-spacing: .025rem
	);
}
.link{
	@include typography(
		$weight: 400,
		$letter-spacing: .08rem
	);
	text-decoration: none;
	text-transform: uppercase;
}
.category-link, .nav-link, .dropdown-item{
	@include typography(
		$size: .875rem,
		$letter-spacing: .025rem,
		$weight: 400
	);
	text-decoration: none;
	text-transform: uppercase;

	&:hover{
		text-decoration: none;
    cursor: default;
	}
}

.btn, #sb_instagram #sbi_load .sbi_load_btn, #sb_instagram .sbi_follow_btn a{
	@include typography(
		$font-family: $secondary-header-font,
		$size: .75rem,
		$weight: 700,
		$letter-spacing: .025rem
	);
	text-decoration: none;
	text-transform: uppercase;

	@media (min-width: 768px) {
    font-size: .875rem;
  }
  @media (min-width: 1200px) {
    font-size: 1rem;
  }
}

li{
	@include typography(
		$size: 1rem,
		$font-family: $secondary-header-font,
		$weight: 500,
		$letter-spacing: .025rem
	);
	padding: .5rem;
}
.events-table .h5, .events-table .p{
	margin-bottom: 0;
}
